<div class="author">
    <h1 class="author heading"> Hi, I am Firoz.</h1>
    <p class="author body"> web developer and content creater</p>

</div>
<img class="hero" src="/img/hero image.webp" height="200" width="400">

<section class="articals">
    <h2 class="articals heading"> Latest Posts</h2>

    <ul class="artical-ul">


     <li>
        <a href="#">
            <span>post title</span>
            <span class="artical-list"></span>
        </a>
     </li>

    </ul>
        
  
        <a href="#" class="pagination">&lt; View older posts</a>

    
 


</section>




