<div class="searchbar">
    <div class="content">
        <form action="/search" class="searchform" role="search" method="POST">
            <input
            type="search"
            aria-label="search"
            id="searchinput"
            name="searchTerm"
            placeholder="search this site..."/>
        </form>
        <div id="searchClose">Close</div>
    </div>
</div>